ART_flow.json
[{"id":"f05acefd.0fa53","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"iot","tz":"CET"},{"id":"2f4f70dc.d0b09","type":"mqtt-broker","broker":"192.168.1.100","port":"1883","clientid":""},{"id":"7882b207.877d4c","type":"mqtt in","name":"Agua Terraza","topic":"/home/ter/ART/GPIO","broker":"2f4f70dc.d0b09","x":77,"y":343,"z":"c795f489.386a08","wires":[["b60f53a4.49f0b","ba005921.45ffa8","ff4c921d.00b37"]]},{"id":"ba005921.45ffa8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":609,"y":332,"z":"c795f489.386a08","wires":[]},{"id":"9b9982f6.64668","type":"inject","name":"2 hours","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":true,"x":143,"y":443,"z":"c795f489.386a08","wires":[["97d5492d.682ab8","ba005921.45ffa8"]]},{"id":"97d5492d.682ab8","type":"mqtt out","name":"SEnd request to read ART status","topic":"/home/ter/ART/req_read","qos":"0","retain":"false","broker":"2f4f70dc.d0b09","x":486,"y":440,"z":"c795f489.386a08","wires":[]},{"id":"e9c79084.16387","type":"mysql","mydb":"f05acefd.0fa53","name":"IOT_LOCAL","x":604,"y":217,"z":"c795f489.386a08","wires":[["ba005921.45ffa8"]]},{"id":"ff4c921d.00b37","type":"template","name":"insert","field":"topic","template":"INSERT INTO `iot`.`home_ART` (`timestamp`, `status`) VALUES (UTC_TIMESTAMP(), {{payload}});","x":414,"y":216,"z":"c795f489.386a08","wires":[["e9c79084.16387"]]},{"id":"d7286292.28d7a","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"jose.maria.martin.pitto@gmail.com","dname":"iot2jmmp","x":614,"y":103,"z":"c795f489.386a08","wires":[]},{"id":"1440ea45.ebbf16","type":"comment","name":"Cada x se envia un MQTT ","info":"para que lea el estado del agua\n","x":122,"y":408,"z":"c795f489.386a08","wires":[]},{"id":"8110242e.7eefd8","type":"comment","name":"Respuesta con otro MQTT con el estado ","info":"1 con agua\n0 sin agua","x":156,"y":301,"z":"c795f489.386a08","wires":[]},{"id":"5cb53b05.a34ac4","type":"comment","name":"Se guarda el estado","info":"(falta poner timestamp)\n","x":506,"y":176,"z":"c795f489.386a08","wires":[]},{"id":"9ecaf2b1.61351","type":"comment","name":"Se eniva el estado","info":"","x":257,"y":24,"z":"c795f489.386a08","wires":[]},{"id":"52262564.add9dc","type":"switch","name":"","property":"statusChange","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":236,"y":102,"z":"c795f489.386a08","wires":[["c13aad1f.3ec55"]]},{"id":"c13aad1f.3ec55","type":"template","name":"MenEst SIN","field":"topic","template":"ART sin agua","x":395,"y":99,"z":"c795f489.386a08","wires":[["d7286292.28d7a"]]},{"id":"b60f53a4.49f0b","type":"function","name":"Check change status to dry","func":"//If status the same that previous one or the change is to wet no mail is sent\nif (msg.payload === context.global.ART_prev_status || msg.payload == 1) {\n\tmsg.statusChange = false;\n}\nelse {  // otherwise it's from the other input\n\tmsg.statusChange = true;\n}\n\ncontext.global.ART_prev_status = msg.payload;\nreturn msg;","outputs":1,"x":149,"y":185,"z":"c795f489.386a08","wires":[["52262564.add9dc"]]},{"id":"8674941d.7e304","type":"inject","name":"M&F @ 8:00","topic":"","payload":"0","payloadType":"date","repeat":"","crontab":"00 08 * * 1,5","once":false,"x":95,"y":583,"z":"c795f489.386a08","wires":[["a339899e.ae3ce","ea2b6820.eca31"]]},{"id":"7d10df2.a0dda2","type":"mqtt out","name":"SEnd request to water","topic":"/home/ter/ART/req_water","qos":"","retain":"","broker":"2f4f70dc.d0b09","x":871,"y":581,"z":"c795f489.386a08","wires":[]},{"id":"c3cebaab.086f","type":"trigger","op1":"0","op2":"1","op1type":"val","op2type":"val","duration":"10","extend":"false","units":"s","name":"Switch on & off watering","x":633,"y":583,"z":"c795f489.386a08","wires":[["7d10df2.a0dda2"]]},{"id":"a339899e.ae3ce","type":"function","name":"Check pond status","func":"//If status stored is no water (0) then return false\nif (context.global.ART_prev_status  == 0) {\n\tmsg.payload = false;\n}\nelse {  // otherwise return true\n\tmsg.payload = true;\n}\n\ncontext.global.ART_prev_status = msg.payload;\nreturn msg;","outputs":1,"x":269,"y":583,"z":"c795f489.386a08","wires":[["16febb75.24b5ed","ba005921.45ffa8"]]},{"id":"16febb75.24b5ed","type":"switch","name":"","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":438,"y":582,"z":"c795f489.386a08","wires":[["c3cebaab.086f"]]},{"id":"ea2b6820.eca31","type":"delay","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":235,"y":540,"z":"c795f489.386a08","wires":[["97d5492d.682ab8"]]}]