flows_MSRPi.json
[{"type":"tab","id":"c795f489.386a08","label":"ART"},{"type":"tab","id":"75218c26.8ade74","label":"Ejemplo compara"},{"type":"tab","id":"71be401e.8e41c","label":"preuba correo"},{"id":"2f4f70dc.d0b09","type":"mqtt-broker","broker":"192.168.1.100","port":"1883","clientid":""},{"id":"658f3e15.9a70c","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"false"},{"id":"f05acefd.0fa53","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"iot","tz":"CET"},{"id":"7882b207.877d4c","type":"mqtt in","name":"Agua Terraza","topic":"/home/ter/ART/GPIO","broker":"2f4f70dc.d0b09","x":77,"y":343,"z":"c795f489.386a08","wires":[["b60f53a4.49f0b","ba005921.45ffa8","ff4c921d.00b37","82711c1a.7d8ee"]]},{"id":"ba005921.45ffa8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":899,"y":341,"z":"c795f489.386a08","wires":[]},{"id":"9b9982f6.64668","type":"inject","name":"2 hours","topic":"/home/ter/ART/req_read","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":true,"x":156,"y":555,"z":"c795f489.386a08","wires":[["97d5492d.682ab8","ba005921.45ffa8","82711c1a.7d8ee","fdea31d2.0215d"]]},{"id":"97d5492d.682ab8","type":"mqtt out","name":"SEnd request to read ART status","topic":"/home/ter/ART/req_read","qos":"0","retain":"false","broker":"2f4f70dc.d0b09","x":499,"y":552,"z":"c795f489.386a08","wires":[]},{"id":"e9c79084.16387","type":"mysql","mydb":"f05acefd.0fa53","name":"IOT_LOCAL","x":604,"y":217,"z":"c795f489.386a08","wires":[["ba005921.45ffa8"]]},{"id":"ff4c921d.00b37","type":"template","name":"insert","field":"topic","template":"INSERT INTO `iot`.`home_ART` (`timestamp`, `status`) VALUES (UTC_TIMESTAMP(), {{payload}});","x":414,"y":216,"z":"c795f489.386a08","wires":[["e9c79084.16387"]]},{"id":"d7286292.28d7a","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"jose.maria.martin.pitto@gmail.com","dname":"iot2jmmp","x":793,"y":93,"z":"c795f489.386a08","wires":[]},{"id":"1440ea45.ebbf16","type":"comment","name":"Cada x se envia un MQTT ","info":"para que lea el estado del agua\n","x":135,"y":520,"z":"c795f489.386a08","wires":[]},{"id":"8110242e.7eefd8","type":"comment","name":"Respuesta con otro MQTT con el estado ","info":"1 con agua\n0 sin agua","x":156,"y":301,"z":"c795f489.386a08","wires":[]},{"id":"5cb53b05.a34ac4","type":"comment","name":"Se guarda el estado","info":"(falta poner timestamp)\n","x":506,"y":176,"z":"c795f489.386a08","wires":[]},{"id":"9ecaf2b1.61351","type":"comment","name":"Se envía el estado","info":"","x":201,"y":83,"z":"c795f489.386a08","wires":[]},{"id":"52262564.add9dc","type":"switch","name":"","property":"statusChange","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":362,"y":96,"z":"c795f489.386a08","wires":[["c13aad1f.3ec55"]]},{"id":"c13aad1f.3ec55","type":"template","name":"MenEst SIN","field":"topic","template":"El deposito de la terraza se ha quedado sin agua.","x":525,"y":95,"z":"c795f489.386a08","wires":[["d7286292.28d7a"]]},{"id":"a45a27a1.5ba5d8","type":"inject","name":"inject timestamp","topic":"b","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":163,"y":94,"z":"75218c26.8ade74","wires":[["5cc22018.a33de"]]},{"id":"5cc22018.a33de","type":"function","name":"","func":"context.flow = context.flow || false;\n\n// if the messages has property a - (from first button)\nif (msg.topic === \"a\") {\n\tcontext.flow = !context.flow;\n}\nelse {  // otherwise it's from the other input\n\tif (context.flow) { return msg;}\n}\n\nreturn null;","outputs":1,"x":344,"y":92,"z":"75218c26.8ade74","wires":[["4e129705.b1ed68"]]},{"id":"2155c033.deaa4","type":"inject","name":"Turn flow on/off","topic":"a","payload":"1234","payloadType":"date","repeat":"","crontab":"","once":false,"x":171,"y":154,"z":"75218c26.8ade74","wires":[["5cc22018.a33de"]]},{"id":"4e129705.b1ed68","type":"debug","name":"","active":true,"console":"false","complete":"false","x":515,"y":90,"z":"75218c26.8ade74","wires":[]},{"id":"9c1d2d78.63e2d","type":"comment","name":"https://groups.google.com/forum/#!topic/node-red/MLU1A_V0quM","info":"","x":312,"y":33,"z":"75218c26.8ade74","wires":[]},{"id":"47c17b69.b83e84","type":"inject","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":343,"z":"75218c26.8ade74","wires":[["cb3b2e35.34c4d"]]},{"id":"e2a8c7b7.1d5738","type":"debug","name":"output","active":true,"console":"false","complete":"true","x":587,"y":254,"z":"75218c26.8ade74","wires":[]},{"id":"8da91fac.7256e","type":"function","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\n\nvar dt = new Date(msg.timestamp);\nvar msg = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getMilliseconds()\n}\n\nreturn msg;","outputs":1,"x":356,"y":272,"z":"75218c26.8ade74","wires":[["e2a8c7b7.1d5738"]]},{"id":"cb3b2e35.34c4d","type":"function","name":"set timestamp","func":"msg.timestamp=1376763133 * 1000;\nreturn msg;","outputs":1,"x":298,"y":343,"z":"75218c26.8ade74","wires":[["8da91fac.7256e"]]},{"id":"85dad59b.7a2528","type":"inject","name":"Force","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":271,"z":"75218c26.8ade74","wires":[["8da91fac.7256e"]]},{"id":"b60f53a4.49f0b","type":"function","name":"Check change status to dry","func":"//If status the same that previous one or the change is to wet no mail is sent\nif (msg.payload === context.global.ART_prev_status || msg.payload == 1) {\n\tmsg.statusChange = false;\n}\nelse {  // otherwise it's from the other input\n\tmsg.statusChange = true;\n}\n\ncontext.global.ART_prev_status = msg.payload;\nreturn msg;","outputs":1,"x":149,"y":185,"z":"c795f489.386a08","wires":[["52262564.add9dc"]]},{"id":"8674941d.7e304","type":"inject","name":"M&F @ 8:00","topic":"","payload":"0","payloadType":"date","repeat":"","crontab":"00 08 * * 1,5","once":false,"x":107,"y":682,"z":"c795f489.386a08","wires":[["a339899e.ae3ce","ea2b6820.eca31"]]},{"id":"7d10df2.a0dda2","type":"mqtt out","name":"SEnd request to water","topic":"/home/ter/ART/req_water","qos":"","retain":"","broker":"2f4f70dc.d0b09","x":893,"y":674,"z":"c795f489.386a08","wires":[]},{"id":"c3cebaab.086f","type":"trigger","op1":"0","op2":"1","op1type":"val","op2type":"val","duration":"10","extend":"false","units":"min","name":"Switch on & off watering","x":655,"y":676,"z":"c795f489.386a08","wires":[["7d10df2.a0dda2"]]},{"id":"a339899e.ae3ce","type":"function","name":"Check pond status","func":"//If status stored is no water (0) then return false\nif (context.global.ART_prev_status  == 0) {\n\tmsg.payload = false;\n}\nelse {  // otherwise return true\n\tmsg.payload = true;\n}\n\ncontext.global.ART_prev_status = msg.payload;\nreturn msg;","outputs":1,"x":281,"y":682,"z":"c795f489.386a08","wires":[["16febb75.24b5ed","ba005921.45ffa8"]]},{"id":"16febb75.24b5ed","type":"switch","name":"","property":"payload","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":450,"y":681,"z":"c795f489.386a08","wires":[["c3cebaab.086f"]]},{"id":"ea2b6820.eca31","type":"delay","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":254,"y":628,"z":"c795f489.386a08","wires":[["97d5492d.682ab8"]]},{"id":"92d3bc1.f6d2c4","type":"e-mail","server":"smtp.gmail.com","port":"465","name":"jose.maria.martin.pitto@gmail.com; fam.martin.salguero@gmail.com","dname":"iot2jmmp","x":644,"y":191,"z":"71be401e.8e41c","wires":[]},{"id":"14c43654.eb3bca","type":"template","name":"MenEst SIN","field":"topic","template":"En un pais multicolor","x":425,"y":187,"z":"71be401e.8e41c","wires":[["92d3bc1.f6d2c4"]]},{"id":"3cd3aa29.c32c56","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148,"y":213,"z":"71be401e.8e41c","wires":[["14c43654.eb3bca"]]},{"id":"82711c1a.7d8ee","type":"function","name":"check MQTT response","func":"\ncontext.flow = context.flow || false;\n\n//If mqtt sent lets set context.flow to true\nif (msg.topic === \"/home/ter/ART/req_read\") {\n\tcontext.flow = true;\n}\nelse if (msg.topic === \"/home/ter/ART/GPIO\") {  //If there is a response flow is set to false\n\tcontext.flow = false;\n}\nelse if (msg.topic === \"/home/ter/ART/req_read_delayed\") {  // aftes xxseg\n\tif (context.flow) { // if no response \n\t\tmsg.topic = \"ART terrraza no responde los mensajes\"\n\t\tmsg.response = false\n\t\treturn msg;\n\t\t\n\t\t}\n}\n\n\nreturn null;","outputs":1,"x":511,"y":423,"z":"c795f489.386a08","wires":[["c1d41176.3e2bf","ba005921.45ffa8"]]},{"id":"fdea31d2.0215d","type":"delay","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":129,"y":420,"z":"c795f489.386a08","wires":[["40089efc.bff76"]]},{"id":"40089efc.bff76","type":"change","action":"replace","property":"topic","from":"","to":"/home/ter/ART/req_read_delayed","reg":false,"name":"","x":302,"y":422,"z":"c795f489.386a08","wires":[["82711c1a.7d8ee"]]},{"id":"c1d41176.3e2bf","type":"switch","name":"","property":"response","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":692,"y":422,"z":"c795f489.386a08","wires":[["d7286292.28d7a"]]},{"id":"4f2ee315.b0d11c","type":"comment","name":"Se comprueba que MSRPi está respondiendo a los mensajes MQTT","info":"","x":379,"y":379,"z":"c795f489.386a08","wires":[]}]